img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: black;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #44f5b7;
}

/*Estilo progressbar*/


#progress {
    width: 100%;
    height: 4px;
    border-radius: 10px;
  }

/* Estilo del pulgar del control deslizante cuando se pasa el mouse encima */
#progress::-webkit-slider-thumb,
#progress::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: transparent;
  /* Hacemos el pulgar invisible por defecto */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#progress:hover::-webkit-slider-thumb,
#progress:hover::-moz-range-thumb {
  background: #44f5b7;
  /* Hacemos el pulgar visible cuando se pasa el mouse encima */
}

#progress::-webkit-slider-runnable-track,
#progress::-moz-range-track {
  background: linear-gradient(
    to right,
    #44f5b7 0%,
    #44f5b7 calc((var(--progress-value) / 100) * 100%),
    #2c3e38 calc((var(--progress-value) / 100) * 100%),
    #2c3e38 100%
  );
  /* Utilizamos un gradiente lineal para mostrar el progreso en #44f5b7 */
  /* Ajusta la altura para que coincida con la barra de progreso */
}
