.media-player-container{
    /*Flexbox para los item del contenedor*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Position para el contenedor en la app*/
    position: fixed;
    padding-bottom: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#media-player-button{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.media-player-container #media-player-time{
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding: 5px 0 5px 0;
}

.media-player-container #media-player-playbar{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 300px;
}

                        /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  background-image:linear-gradient(to right, #84a0fc  calc((var(--progress-value)/100)*100%), #053a5f calc((var(--progress-value)/100)*100%)); 
  height: 4px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  background-image:linear-gradient(to right, #84a0fc  calc((var(--progress-value)/100)*100%), #053a5f calc((var(--progress-value)/100)*100%));
  height: 4px;
}

/*Para centrar el thumb en -webkit, hay que hacer un calculo matematico:
margin-top = (track height in pixels / 2) - (thumb height in pixels /2)
El thumb height lo definimos a continuacion, si elegimos una medida de 18px, pues dividimos 18/2
mt = (4px / 2) - (18px/2)
mt = 2px - 9px
mt = -7px
*/

/*thumb webkit*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: #84a0fc00;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%; /*Removes default border-radius that FF applies*/
  background-color: #84a0fc00;
  height: 16px;
  width: 16px;
  transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus,
input[type="range"]:hover{
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 14px #9cb3ff;
  background-color: #84a0fc;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb,
input[type="range"]:hover::-moz-range-thumb  {
  box-shadow: 0 0 14px #9cb3ff;
  background-color: #84a0fc;
}
