
#playlist-header {
  display: flex;
  background: radial-gradient(circle, rgb(72, 119, 141) 0%, rgba(var(--colorThief-value),1) 100%);
  padding: 20px 0 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#playlist-header #playlist-header-column-one{
    padding: 0 5px 0 10px
}


#playlist-header #playlist-header-column-one{
    padding: 0 10px 0 5px
}

#playlist-header .img-container {
  margin: 0 auto;
}

#playlist-header .img-container img{
  border-radius: 5px;
  width: 150px; /* Define el ancho deseado */
  height: 150px;  /*Por algun motivo, si establecemos el height, la imagen sobresale del contenedor ._.*/
  object-fit: cover;
  object-position: top;
  } 


#playlist-header ul{
    list-style: none;
}

#playlist-body table {
    width: 100%;
    border-collapse: collapse;
}

#playlist-body th,
#playlist-body td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#playlist-body .info-song-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#playlist-body .info-song-albumPic {
    width: 40px; /* Define el ancho deseado */
    height: 40px; /* Define la altura deseada */
  }
  
  #playlist-body .info-song-albumPic img{
      border-radius: 5px;
      width: 150px; /* Define el ancho deseado */
      height: 150px;  /*Por algun motivo, si establecemos el height, la imagen sobresale del contenedor ._.*/
      object-fit: cover;
      object-position: bottom;
    } 

#playlist-body .info-song-dataSong {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#playlist-body .info-song-dataSong span {
    display: block;
}