/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
background: #050533;
background: linear-gradient(60deg,rgba(5, 5, 51, 1) 2%, rgba(0, 64, 255, 1) 70%);
  color: #ffffff;
}