.media-player-info,
.media-player-playbar {
  display: flex;
  flex-direction: row;
}
.media-player-playbar {
  font-size: 0.7rem;
  width: 100%;
  justify-content: center;
}
.media-player-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.media-player-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.media-player-data-song {
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.media-player-pic {
  display: flex;
  width: 35%;
  align-items: center;
}

.media-player-pic .image-container {
  padding: 6px;
}

.media-player-pic .image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1; /* Mantiene relación cuadrada */
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 60%;
  margin: 0 10px;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  background-image: linear-gradient(
    to right,
    #ffffff calc((var(--progress-value) / 100) * 100%),
    #000000ef calc((var(--progress-value) / 100) * 100%)
  );
  height: 4px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  background-image: linear-gradient(
    to right,
    #ffffff calc((var(--progress-value) / 100) * 100%),
    #000000ef calc((var(--progress-value) / 100) * 100%)
  );
  height: 4px;
}

/*Para centrar el thumb en -webkit, hay que hacer un calculo matematico:
margin-top = (track height in pixels / 2) - (thumb height in pixels /2)
El thumb height lo definimos a continuacion, si elegimos una medida de 18px, pues dividimos 18/2
mt = (4px / 2) - (18px/2)
mt = 2px - 9px
mt = -7px
*/

/*thumb webkit*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: #ffffff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%; /*Removes default border-radius that FF applies*/
  background-color: #000000ef;
  height: 16px;
  width: 16px;
  transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus,
input[type="range"]:hover {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb,
input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 14px #ffffff;
  background-color: #ffffff;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb,
input[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 0 14px #ffffff;
  background-color: #ffffff;
}

.media-player-button button {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: box-shadow ease-in-out 0.5s;
}

.media-player-button button:disabled {
  background-color: #37446e;
  border: 1px solid #37446e;
}

.media-player-button button:hover:disabled {
  box-shadow: 0 0 0;
}

.media-player-button button img {
  width: 50%;
}

.media-player-button button:hover {
  box-shadow: 0 0 10px #ffffff;
}

.media-player-button button#play {
  width: 35px;
  height: 35px;
}

.media-player-button button#prev {
  transform: rotate(180deg);
}

.media-player-button button.active {
  box-shadow: 0 0 14px #ffffff;
}

@media (min-width: 992px) {
  .media-player-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .media-player-pic {
    display: flex;
    width: 30%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .media-player-pic .image-container {
    padding: 8px;
  }

  .media-player-button button#play {
    width: 50px;
    height: 50px;
  }

  .media-player-data-song {
    font-size: 1rem;
  }
.media-player-playbar {
  font-size: 1rem;
  }
}

